body{
  background-color: white;
  height: auto;
}

.heading{
  padding: 20px;
  font-size: 100px;
  font-family: 'Indie Flower', cursive;
  color: purple;
  background-color: pink;
  border-bottom: solid;
}



.reload{
  width: 25mm;
  height: 25mm;
  margin-right: 10mm;
  margin-left: 15mm;
}



.instruct{
  width: 25mm;
  height: 25mm;
  margin-right: 15mm;
  margin-left: 10mm;
}

.box{
  border-style: ridge;
  border-width: thick;
  border-radius: 2mm;
  border-color: rgba(0,0,0,0.5);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  background-color: white;
}

label{
  font-size: 30px;
  color: purple;
  padding-left: 30px;
  padding-right: 30px;
}

.submit{
  width: 75px;
  height: 50px;
  background-color: darkblue;
  margin-bottom: 25px;
  color: white;
}

